# Go
/backend/zip-queue
/backend/zip-queue.exe
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Node
node_modules/
frontend/dist/
frontend/.playwright-cli
backend/web/dist/*
!backend/web/dist/.gitkeep
frontend/main.yaml

# Data
/data/
*.db
*.db-journal
*.db-wal
*.db-shm

# IDE
.idea/
.vscode/
.trae/

# OS
.DS_Store
Thumbs.db

